<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- External CSS styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous">
    <!-- Own CSS styles -->
    <link rel="stylesheet" href="../css/domainf.css">


    <!-- Javascript external libraries -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://kit.fontawesome.com/0dba214369.js" crossorigin="anonymous"></script>

    <!-- Javascript own libraries -->
    <script type="module" src="../js/domainf.js"></script>

    <title>Domainf</title>

</head>

<body class="domainf">
    <div id="app" class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col text-center">
                <h1><a href="." class="plain-a">DOMAINF</a></h1>
                <p><code class="text-info">DOMAINF</code> is a simple page that get the information of a server and knows if
                    its configuration has changed</p>
                <div class="form-inline justify-content-center">
                    <div class="form-group">
                        <div class="form-group mx-sm-3 mb-2">
                            <input class="form-control" v-model="host" placeholder="example.com">
                        </div>
                        <button class="btn btn-info mb-2" v-on:click="getServers">Search <i class="fas fa-search"></i></button>
                    </div>
                </div>
                <button class="btn btn-link text-info" v-on:click="getHistory">search history</button>
                <div v-if="isDown" class="alert alert-warning alert-dismissible fade show" role="alert">
                    <h4 class="alert-heading">Dont't Freakout!</h4>
                    <p>Sometimes the response will have empty fields or the server status will be red, this can happen when
                        the information of the specified domain it's been retrieved for the first time and need some time
                        get it.</p>
                    <hr>
                    <p class="mb-0">Please try it again.</p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div v-if="errored" class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ weirdError }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div v-if="!hideHistory">
                    <div v-if="loading2" class="spinner-border text-info" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div v-else>
                        <div class="card mt-2">
                            <div class="card-header"><h4 class="card-title">History</h4></div>
                            <div class="card-body">
                                <p>The following information is a list of all the domain that have been searched in <code class="text-info">DOMAINF</code></p>
                                <ul class="list-group mt-2" v-for="domain in history">
                                    <li class="list-group-item list-group-item-info">{{ domain }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="!hideServers">
                    <div v-if="loading" class="spinner-border text-info" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div v-else class="card mt-2">
                        <div class="card-header">
                            <h4 class="card-title mt-2"><img v-bind:src="logo" class="img-fluid mb-2 icon-img" /> {{ title }}</h4>
                            <div class="row justify-content-center">
                                <h5 class="mr-5"><span class="badge" v-bind:class="{'badge-success': this.serversChanged, 'badge-danger': !this.serversChanged}">Server Changed</span></h5>
                                <h5><span class="badge" v-bind:class="{'badge-success': !this.isDown, 'badge-danger': this.isDown}">Server Status</span></h5>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row justify-content-center">
                                <h4>Servers</h4>
                                <table class="table justify-content-center table-striped">
                                    <thead>
                                        <tr>
                                            <th>address</th>
                                            <th>ssl_grade</th>
                                            <th>country</th>
                                            <th>owner</th>
                                        </tr>
                                    </thead>
                                    <tr v-for="server in servers">
                                        <td>{{ server.address }}</td>
                                        <td>{{ server.ssl_grade }}</td>
                                        <td>{{ server.country }}</td>
                                        <td>{{ server.owner }}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="row justify-content-center">
                                <h5 class="mr-5">SSL Grade: <span class="badge" v-bind:class="this.gradeColor">{{ sslGrade }}</span></h5>
                                <h5>Previous SSL Grade: <span class="badge" v-bind:class="this.previousColor">{{ previousSslGrade }}</span></h5>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="explainModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="explainModalLabel">Explanation</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        </div>
                                        <div class="modal-body text-left">
                                            <p>Sure!</p>
                                            <p><strong><i class="fas fa-angle-right"></i> Server Changed: </strong> Is
                                                <code class="text-success">green</code> if the information of the servers
                                                changed otherwise is
                                                <code class="text-danger">red</code>
                                            </p>
                                            <p><strong><i class="fas fa-angle-right"></i> Server Status: </strong> Show with
                                                <code class="text-success">green</code> if the server retrieve some information
                                                and is working otherwise is <code class="text-danger">red</code></p>
                                            <p><strong><i class="fas fa-angle-right"></i> Servers: </strong>They are the servers
                                                of the input domain. Each server is show in a table with the following information:
                                            </p>
                                            <p class="ml-5"><strong><i class="fas fa-angle-double-right"></i> Address: </strong>IP or host
                                                of the server</p>
                                            <p class="ml-5"><strong><i class="fas fa-angle-double-right"></i> SSL Grade: </strong>The grade
                                                SSL grade given by SSLabs </p>
                                            <p class="ml-5"><strong><i class="fas fa-angle-double-right"></i> Country: </strong>The country
                                                where the server is</p>
                                            <p class="ml-5"><strong><i class="fas fa-angle-double-right"></i> Owner: </strong>The owner of
                                                the server</p>
                                            <p><strong><i class="fas fa-angle-right"></i> SSL Grade: </strong>The lower grade
                                                of all the domain servers</p>
                                            <p><strong><i class="fas fa-angle-right"></i> Previous SSL Grade: </strong>The lower
                                                grade that the domain had before</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center mt-5">
                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#explainModal">
                                    Explain me this
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap external libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>